<style>
    </style>
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <% if (sessiondata.user.image=="") { %>
                    <img src="../images/user.png" width="48" height="48" alt="User" />
                  <% } else { %>
                    <img src="../images/admin/<%=sessiondata.user.image%>" width="48" height="48" alt="User" />
                    <% } %>
                </div>
                <div class="info-container">
                    <div class="name " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=sessiondata.user.name %></div>
                    <div class="email"><%=sessiondata.user.email %></div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/admin/profile"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/logout"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="<%=(title == 'dashboard' )? 'active' : '' %>">
                        <a href="/admin">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="<%=(title == 'Categories' )? 'active' : '' %>">
                        <a href="../admin/categories">
                           
                            <i class="material-icons">widgets</i>
                            <span>Categories</span>
                        </a>
                    </li>
                   
            
                    <li class="<%=(title == 'User' )? 'active' : '' %>">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">people</i>
                            <span>Users</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="../admin/adduser">Add User</a>
                            </li>
                            <li>
                                <a href="../admin/userslist">Users list</a>
                            </li>
                        </ul>
                    </li>
                
                    <li class="<%=(title == 'post' )? 'active' : '' %>">
                        <a href="../admin/posts">
                            <i class="material-icons">add_to_photos</i>
                            <span>Posts</span>
                        </a>
                    </li>
                    <li class="<%=(title == 'faq' )? 'active' : '' %>">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">contact_support</i>
                         
                            <span>FAQ</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="../admin/add_faq">Add Faq</a>
                            </li>
                            <li>
                                <a href="../admin/data">List</a>
                            </li>
                        </ul>
                    </li>
                   
                    <li class="<%=(title == 'Terms' )? 'active' : '' %>">
                        <a href="../admin/terms">
                            <i class="material-icons">insert_drive_file</i>
                            <span>Terms and Conditions</span>
                        </a>
                    </li>
                    <li class="<%=(title == 'About' )? 'active' : '' %>">
                        <a href="../admin/policy">
                            <i class="material-icons">insert_drive_file</i>
                            <span>Privacy Policy</span>
                        </a>
                    </li>

               </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                &copy; 2020 - 2021 <a href="https://www.cqlsys.com/" target="_blank">Cqlsys</a>.
                </div>
                </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
       
    </section>